body {
	background-color: #E9E9E9;
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

h1 {
	font-size: 35px;
}

#main {
	width: 100%;
	height: 100%;
	text-align: center;
}

.title_container {
	margin-top: 10px;
	margin-bottom: 120px;
	color: #777777;
}
.small_title {
	font-size: 20px;
}
.large_title {
	font-size: 40px;
}

.name_container {
	height: 100px;
	background-color: rgba(34,34,34,0.33);

    background-image: -moz-linear-gradient(center top , #B4B4B4, #707070);
    border-top: 1px solid #F3F3F3;
}

.name_container .name {
	font-weight: bold;
	font-size: 45px;
	line-height: 100px;
	color: white;
}

/* Animation */
.name_container .name,
.name_container .gradient3 {
	-webkit-animation-name: word-animation;
	-moz-animation-name: word-animation;
	animation-name: word-animation;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	animation-iteration-count: 1;
}



.floater	{float:right; height:50%; margin-bottom:-.5em;}
.content	{clear:both; height:1em; position:relative;}

.letter_container {
	position: relative;
	top: -4px;
	display: inline-block;
	margin-left: 0px;
	font-size: 30px;
	font-weight: normal;
}

.letter_border {
	border: 3px solid white;
	border-radius: 6px;
	height: 34px;
	width: 31px;
	margin-top: 29px;
	position: absolute;
	right: -10px;
	top: 0px;
}


.gradient_below {
   background-color: #E9E9E9;
/*   background-image: url(images/fallback-gradient.png);*/
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(34,34,34,0.33)), to(#E9E9E9));
   background-image: -webkit-linear-gradient(top, rgba(34,34,34,0.33), #E9E9E9);
   background-image:    -moz-linear-gradient(top, rgba(34,34,34,0.33), #E9E9E9);
   background-image:     -ms-linear-gradient(top, rgba(34,34,34,0.33), #E9E9E9);
   background-image:      -o-linear-gradient(top, rgba(34,34,34,0.33), #E9E9E9);
   width: 100%;
   height: 20px;
}

.gradient_above {
   background-color: rgba(34,34,34,0.33);
/*   background-image: url(images/fallback-gradient.png);*/
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E9E9E9), to(rgba(34,34,34,0.33)));
   background-image: -webkit-linear-gradient(top, #E9E9E9, rgba(34,34,34,0.33));
   background-image:    -moz-linear-gradient(top, #E9E9E9, rgba(34,34,34,0.33));
   background-image:     -ms-linear-gradient(top, #E9E9E9, rgba(34,34,34,0.33));
   background-image:      -o-linear-gradient(top, #E9E9E9, rgba(34,34,34,0.33));
   width: 100%;
   height: 20px;
}


a#generator {
	font-size: 20px;
	margin-top: 40px;
}

.social {
	text-align: center;
	margin-top: 140px;
}

.social_inner {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.social .btn {
	margin-right: 5px;
}

.social .twitter {
	margin-top: 5px;
}

.twitter_list {
	position: absolute;
	left: 20px;
	bottom: 0px;
}

.above_logo {
	margin-top: 60px;
}

.logo {
	background-image:url('/images/logo.jpg');
	width: 320px;
	height: 294px;
	margin-top: 24px;
	position: absolute;
	right: 39%;
}
.logo_128 {
	background-image:url('/images/logo_rainbow_small.png');
	width: 128px;
	height: 128px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button {
   cursor: pointer;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 13.5px 27px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


/* apples button */
a.button {


    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center bottom , #2F78D0 0%, #51A8E6 100%) repeat scroll 0 0 #408EDB;
    border-color: #6FB5E9 rgba(0, 0, 0, 0.1) #2B69B3;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    margin: -6px auto 12px;
    padding: 0 60px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
    width: 6em;
}
a.button:hover, a.button:active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center bottom , #2A6AB8 0%, #4795CC 100%) repeat scroll 0 0 #3A87D7;
    border-color: #63A0CF rgba(0, 0, 0, 0.1) #255999;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
}
a.button:active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: -moz-linear-gradient(center top , #2A6AB8 0%, #4795CC 100%);
    border-color: #255999 rgba(0, 0, 0, 0.1) #63A0CF;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
}

@-moz-keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}