body {
	background-color: #E9E9E9; /* light */
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif; /* apple */
}

h1 {
	font-size: 35px;
}

/* non ie and & ie 6,7 */
a:active, a:focus {
   outline:  none;
   ie-dummy: expression(this.hideFocus=true);
}

#main {
	width: 100%;
	height: 100%;
	text-align: center;
}

.title_container {
	margin-top: 10px;
	margin-bottom: 60px;
	color: #777777;
}

.small_title_container,
.large_title_container {
	margin: 0 auto;

    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
.large_title_container:hover {
	text-shadow: 0 0 15px #0770A0;
	cursor: pointer;
}
.small_title_container {
	width: 295px;
	height: 30px;
}
.large_title_container {
	width: 435px;
	height: 80px;
	text-shadow: 0 0 5px #0770A0;
}

.small_title {
	font-size: 29px;
}
.large_title {
	color: #0CA6DD;
	font-size: 80px;

   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.name_container {
	height: 100px;
	border-top: 1px solid #F3F3F3;
	background: #707070;
	background: -webkit-gradient(linear, left top, left bottom, from(#B4B4B4), to(#707070)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #B4B4B4, #707070) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(top, #B4B4B4, #707070) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(top, #B4B4B4, #707070) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #B4B4B4, #707070) repeat scroll 0 0 transparent;
}

.name_container .name {
	font-weight: bold;
	font-size: 45px;
	line-height: 100px;
	color: white;
}

/* Animation */
.name_container .name {
	-webkit-animation-name: word-animation;
	-moz-animation-name: word-animation;
	animation-name: word-animation;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.letter_container {
	position: relative;
	top: -5px;
	display: inline-block;
	margin-left: 0px;
	font-size: 30px;
	font-weight: normal;
}

.letter_border {
	border: 3px solid white;
	border-radius: 6px;
	height: 33px;
	width: 31px;
	margin-top: 30px;
	position: absolute;
	right: -11px;
	top: 0px;
}

.social {
	text-align: center;
	margin-top: 30px;
}

.social_inner {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.social .btn {
	margin-right: 5px;
}

.social .twitter {
	margin-top: 5px;
}

.twitter_widget_container {
	margin-top: 60px;
	width: 100%;
}
.twitter_widget {
	width: 250px;
	margin: 0 auto;
}

.above_title {
	margin-top: 60px;
}

.button_container {
	margin-top: 60px;
}

button.fancy {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(top, #FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(top, #FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;

    border-color: currentColor currentColor #EBEBEB;
    border-radius: 4px 4px 4px 4px;
    border-style: none none solid;
    border-width: medium medium 1px;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

    color: #333333;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    overflow: visible;
    padding: 0;
    position: relative;
    white-space: nowrap;

    -webkit-transition: -webkit-box-shadow .25s ease-in-out;
    -moz-transition: -moz-box-shadow .25s ease-in-out;
	-o-transition: -o-box-shadow .25s ease-in-out;
	transition: -o-box-shadow .25s ease-in-out;
}

button.fancy span {
    padding: 0 32px;
}


button.fancy {
	background: #0770A0;
	background: -webkit-gradient(linear, left top, left bottom, from(#0CA6DD), to(#0770A0)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #0CA6DD, #0770A0) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(top, #0CA6DD, #0770A0) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(top, #0CA6DD, #0770A0) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #0CA6DD, #0770A0) repeat scroll 0 0 transparent;

    border-color: #74BB5A #74BB5A #509338;
    color: #FFFFFF;
}
button.fancy:hover {
	background: #28597a;

	-moz-box-shadow: 0px 0px 15px #0770A0;
	-webkit-box-shadow: 0px 0px 15px #0770A0;
	-o-box-shadow: 0px 0px 15px #0770A0;
	box-shadow: 0px 0px 15px #0770A0;
}
button.fancy::-moz-focus-inner {
    margin: -1px -3px;
}

@-moz-keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes word-animation {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}