.above_title
.title_container.pr
	.small_title_container
		APPLE PRODUCT NAME
	.large_title_container
		GENERATOR
.name_container
	=render :partial => 'home/name'
.button_container
	// %button.button-glossy.goog-blue{:id => "generator"}
	//	Generate
	%button.fancy{:id => "generator"}
		%span Generate
.hint
	hint: use left (previous) & 
.hint
	right (new) arrow keys
//%input.synonym{:placeholder => "Find a Synonym of..."}
//.twitter_widget_container
//	=render :partial => '/widgets/tweet_search'
.social
	.social_inner
		.btn.facebook
			=render :partial => '/widgets/fbook_like'
		.btn.twitter
			=render :partial => '/widgets/tweet'
.um_why
	Um, 
	%a.why{:href => "javascript:void(0);"} why?
	.reason_container.dn
		.reason
			%div
				Created for fun by 
				%a{:href => "https://twitter.com/dev_dela"} @dev_dela
			.with
				with
				%a{:href => "http://rubyonrails.org"} RoR
				%span> ,&nbsp;
				%a{:href => "http://developer.wordnik.com"} Wordnik
				%span>, and&nbsp;
				%a{:href => "http://www.heroku.com"} Heroku
				%span :)