.above_title
.title_container.pr
	.small_title_container
		.small_title.pa
			APPLE PRODUCT NAME
	.large_title_container
		.large_title.pa
			GENERATOR
.name_container
	=render :partial => 'home/name'

.button_container
	%button.fancy.primary{:id => "generator"}
		%span Generate
.twitter_list_container
	=render :partial => '/widgets/twitter_list'
.social
	.social_inner
		.btn.facebook
			=render :partial => '/widgets/fbook_like'
		.btn.twitter
			=render :partial => '/widgets/tweet'