.above_title
.title_container.pr
	.small_title_container
		.small_title.pa
			APPLE PRODUCT NAME
	.large_title_container
		.large_title.pa
			GENERATOR
.name_container
	=render :partial => 'home/name'

.button_container
	%button.fancy{:id => "generator"}
		%span Generate
.twitter_widget_container
	=render :partial => '/widgets/tweet_search'
.social
	.social_inner
		.btn.facebook
			=render :partial => '/widgets/fbook_like'
		.btn.twitter.1
			=render :partial => '/widgets/tweet'
		.btn.twitter.2.dn
			=render :partial => '/widgets/tweet'