.above_title
.title_container.pr
	.small_title_container
		APPLE PRODUCT NAME
	.large_title_container
		GENERATOR
.name_container
	=render :partial => 'home/name'

.button_container
	%button.fancy{:id => "generator"}
		%span Generate
.twitter_widget_container
	=render :partial => '/widgets/tweet_search'
.twitter_hashtag
	=render :partial => '/widgets/tweet_link'
.social
	.social_inner
		.btn.facebook
			=render :partial => '/widgets/fbook_like'
		.btn.twitter
			=render :partial => '/widgets/tweet'