.twitter-share
	%a#tweet-button.twitter-button{:href => "https://twitter.com/intent/tweet?count=horizontal&text=#AppleGenerator", :title => "Post this generated name on twitter!"}
		%i
		%span.label Tweet #AppleGenerator