.twitter_widget
  %script{:src => "http://widgets.twimg.com/j/2/widget.js"}
  :javascript
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '#AppleGenerator',
      interval: 30000,
      title: '',
      subject: '#AppleGenerator',
      width: 250,
      height: 50,
      theme: {
        shell: {
          background: '#cfcfcf',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#1985b5'
        }
      },
      features: {
        scrollbar: true,
        loop: true,
        live: true,
        behavior: 'default'
      }
    }).render().start();